DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
FRONTEND_URL=https://PRIMARY_DOMAIN,https://PROJECT-*-ACCOUNT.vercel.app
NODE_ENV=development
JWT_SECRET=RANDOM
JWT_EXPIRES_IN=1h
DEMO_USER_PASSWORD=RUNNING
